version: "3.7"

services:
  mailarchiva:
    build: ./
    image: mailarchiva:latest
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ${MAILARCHIVA_HOST_DATA_FOLDER}/appdata:/var/opt/mailarchiva
      - ${MAILARCHIVA_HOST_DATA_FOLDER}/storage:/var/opt/vol
      - ${MAILARCHIVA_HOST_DATA_FOLDER}/logs:/var/log/mailarchiva
      - ${MAILARCHIVA_HOST_DATA_FOLDER}/etc:/etc/opt/mailarchiva